
<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../common/headerlink.ejs') -%>
  </head>
  <body> 
    <div class="container-scroller">
      <%- include('../common/header.ejs'); -%>  
      <div class="container-fluid page-body-wrapper">
        <%- include('../common/left_navbar.ejs'); -%>  
        <div class="main-panel">
          <div class="content-wrapper">
            

<!-- ==========================my new code start============================== -->
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <?php echo message_box('success'); ?>
        <?php echo message_box('error'); ?>
        <div class="card-title">
          <span class="h4 mr-5 pr-5">View All Franchisee</span>
        </div>
        <div class="table-responsive">
        <table class="table table-striped table-hover" id="order-listing">
        <thead>
            <tr>
                <th>Id</th>
                <!-- <th>Dealer ID</th> -->
                <th>Name</th>
                <th>Mobile</th>
                <!-- <th>State</th> -->
                <!-- <th>City</th> -->
                <!-- <th>Address</th> -->
                      <th>Zipcode</th>
                <!-- <th>Added Date</th> -->
                <!-- <th>Refered By</th> -->
                      <!-- <th>Category</th> -->
                <th>More</th>
              
                <!-- <th>Action</th> -->
                      <th>Status</th>
            </tr>
        </thead>
       <tbody>
        <%
        if(data.length!=0){
        var i=1;
        data.forEach(function(row){  
        %>
           <tr>
           <td><%= i; %></td>  
           <td><%=row.franchisee_full_name %></td>     
           <td><%=row.franchisee_mobile%></td>
           <td><%=row.franchisee_pincode%></td>
           <td><label class="badge badge-info"><a href="franchisee_more_button?franchisee_id=<%= row.franchisee_id %>" style="text-decoration: none; color: white;">More</a></label></td>
         
           <!-- <td> <label class="badge badge-success"><a href="labour_action_button?labour_id<%= row.id %>" style="text-decoration:none; color: white;">Action</a></label></td> -->
           <td><%
            if(row.payment_status==0)
            {
            %>
            <label class="badge badge-danger">Incomplete</label>
            <%
            }
            else{
                %>
                <label class="badge badge-success">Complete</label>          
           <%
            }
            %></td>
        </tr>
            <%  i++; }) %> 
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
       </tbody>
    </table>
    </div>
  </div>
</div>
</div>

<!-- ===========================my new code end============================= -->
                
            
            </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
        <%- include('../common/footer.ejs') -%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
       <%- include('../common/footerlink.ejs') -%>

  </body>
</html>