
<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../common/headerlink.ejs') -%>
  </head>
  <body> 
    <div class="container-scroller">
      <%- include('../common/header.ejs'); -%>  
      <div class="container-fluid page-body-wrapper">
        <%- include('../common/left_navbar.ejs'); -%>  
        <div class="main-panel">
          <div class="content-wrapper">
            

<!-- ==========================my new code start============================== -->
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
      <div class="container-fluid">
          <h3 class="text-justify">Franchisee Details</h3>
          <hr class="bg-secondary"> 
        </div>
        <div class="container-fluid d-flex justify-content-between">
         
          <%
          if(data.length!=0)
          {
              data.forEach(function(row){
            %> 
            <div class="col-sm-6 mb-2">
                <p>franchisee ID-<span class="text-info ml-1"><%=row.franchisee_id%></span></p>
                <p>Name-<span class="text-info ml-1"><%=row.franchisee_full_name%></span></p>
                <p>Mobile-<span class="text-info ml-1"><%=row.franchisee_mobile%></span></p>
                <p>State-<span class="text-info ml-1"><%=row.state_name%></span></p>
                <p>City-<span class="text-info ml-1"><%=row.city_name%></span></p>
                <p>Address-<span class="text-info ml-1"><%=row.franchisee_address%></span></p>
                <p>Zipcode-<span class="text-info ml-1"><%=row.franchisee_pincode%></span></p>     
            </div>
            <div class="col-sm-6 mb-2">
                <p>Added Date-<span class="text-info ml-1">
              
                  <% if (row.franchisee_date) { %>
                    
                    <script>
                       var ts = "<%= row.franchisee_date %>"; 
                       var theDate = new Date(ts * 1000);
                      const currentDayOfMonth = theDate.getDate();
                      const currentMonth = theDate.getMonth();
                      const currentYear = theDate.getFullYear();
                      const dateString1 = currentDayOfMonth + "-" + (currentMonth+1) + "-" + currentYear;
                        document.write(dateString1);                        
                    </script>
                   
               <% } %>     
                  </span></p>
                <p>Franchisee Company Name-<span class="text-info ml-1"><%=row.franchisee_company_name%></span></p>
                <p>Franchisee Gstin Number-<span class="text-info ml-1"><%=row.franchisee_gstin_number%></span></p>

                <p>Category-<span class="text-info ml-1"><%=row.franchisee_category%></span></p> 
                <p>
                    <%
                    if(row.payment_status==0)
                    {
                        %>
                        <label class="badge badge-danger">Incompete</label>
                        <%
                    }
                    else
                    {
                        %>
                        <label class="badge badge-success">Complete</label>
                        <%
                    }
                    %>
                </p>
            </div>
         <%
              }) } else { %>
              <tr>
                <td colspan="7">No Data Found</td>
            </tr>

              <% } %>
     
           
           
        </div>


    </div>
  </div>
    <label class="badge badge-info" style="margin-top: 10px;" ><a href="view_all_franchisee" class="text-white" style="text-decoration: none;">Back</a></label>
</div>


<!-- ===========================my new code end============================= -->
                
            
            </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
        <%- include('../common/footer.ejs') -%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
       <%- include('../common/footerlink.ejs') -%>

  </body>
</html>